<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<proxies>
    	<proxy>
        	<id>runner-proxy</id>
        	<active>true</active>
        	<protocol>http</protocol>
        	<host>${env.PROXY_HOST}</host>
        	<port>3128</port>
        </proxy>
	</proxies>
	<servers>
		<server>
			<id>repository</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PWD}</password>
		</server>
		<server>
        		<id>repository-snapshot</id>
        		<username>${env.ARTIFACTORY_USER}</username>
        		<password>${env.ARTIFACTORY_PWD}</password>
		</server>
		<server>
        	    <id>repository-maven-central</id>
           	 <username>${env.ARTIFACTORY_USER}</username>
           	 <password>${env.ARTIFACTORY_PWD}</password>
   		 </server>
	</servers>
	<profiles>
		<profile>
			<id>zssi</id>
			<properties>
		    		<deploy-url-release>${env.ARTIFACTORY_DEPLOYURL_RELEASE}</deploy-url-release>
		    		<deploy-url-snapshot>${env.ARTIFACTORY_DEPLOYURL_SNAPSHOT}</deploy-url-snapshot>
		    	</properties>
			<repositories>
				<repository>
					<id>repository</id>
					<name>isyfactServer-releases</name>
					<url>${env.ARTIFACTORY_REPOSITORY_RELEASE}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>repository-snapshot</id>
					<name>isyfactServer-snapshot</name>
					<url>${env.ARTIFACTORY_REPOSITORY_SNAPSHOT}</url>
					<snapshots>
                        			<enabled>true</enabled>
                    			</snapshots>
				</repository>
				<repository>
                    			<id>repository-maven-central</id>
                    			<name>isyfactServer-releases</name>
                    			<url>${env.ARTIFACTORY_REPOSITORY_MAVENCENTRAL}</url>
                    			<releases>
                        			<enabled>true</enabled>
                    			</releases>
                		</repository>				
			</repositories>
			<pluginRepositories>
                		<pluginRepository>
                   			<id>repository</id>
                    			<name>isyfactServer-releases</name>
                    			<url>${env.ARTIFACTORY_REPOSITORY_MAVENCENTRAL}</url>
					<releases>
                        			<enabled>true</enabled>
                    			</releases>
				</pluginRepository>
            		</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>zssi</activeProfile>
	</activeProfiles>
</settings>
